
body {
  background-color: gainsboro;
}

.App {
  text-align: center;
}

.plant-app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined {
  font-size: 4rem;
  margin: 1rem;
}

#sunny {
  color: red;
}

#rainy {
  color: blue;
}

#cloudy {
  color: gray;
}

.plant-body {
  position: relative;
}

.plant {
  background-color: transparent;
  height: 2rem;
  width: 1rem;
}

.plant.grown {
  background-color: green;
}

.plant.grown::after {
  background-color: green;
  width: .3rem;
  height: 2rem;
  content: "";
  display: block;
  position: absolute;
}

.plant.grown:nth-child(even)::after {
  transform: rotate(45deg);
  right: 0;
}

.plant.grown:nth-child(odd)::after {
  transform: rotate(-45deg);
  left: 0;
}



.soil {
  background-color: brown;
  height: .5rem;
  width: 10rem;
}

.soil.moist {
  background-color: lightblue;
}